includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
    level: 9
    paths:
        - bin/
        - config/
        - src/
    checkMissingVarTagTypehint: true
    checkUninitializedProperties: true
    inferPrivatePropertyTypeFromConstructor: true
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false

